# WAP to convert a number entered by user into its corresponding number in words. For e.g. if input is 876 then the output should be “Eight Seven Six”

In [17]:
d={1:"one", 2:"two" ,3:"three" ,4:"four",5:"five",6:"six",7:"seven",8:"eight",9:"nine", 0:"zero"}
n=8760
p=str(n)
p=p[::-1]
n=int(p)
s=""
for i in range(len(p)):
    x=n%10
    s+=d[x]
    s+=" "
    n=n//10

print(s)

eight seven six zero

WAP to create a dictionary from a string “python” such that each individual character makes a key and its index value for first occurrence as the corresponding value in dictionary.

In [19]:
d={}
s="python"
for i in range(len(s)):
    if(s[i] not in d):
        d[s[i]]=i
print(d)

{'p': 0, 'y': 1, 't': 2, 'h': 3, 'o': 4, 'n': 5}

In [22]:
d.get('i')

WAP to store book ID, Book Name and price of 3 books and store the data in dictionary print it.

In [24]:
d={}
s=[]
for i in range(5):
    id=int(input("enter the id"))
    name=input("enter the name")
    price=float(input("enter the price"))
    x=[name,price]
    d[id]=x
print(d)

enter the id1
enter the nameer
enter the price33
enter the id2
enter the nameerf
enter the price3
enter the id3
enter the namewr
enter the price23
enter the id34
enter the nameth
enter the price6
enter the id78
enter the namergrf
enter the price88
er

In [25]:
print(d)

{1: ['er', 33.0], 2: ['erf', 3.0], 3: ['wr', 23.0], 34: ['th', 6.0], 78: ['rgrf', 88.0]}

# Remove all duplicate words from a given sequence.
# Input: Python is easy to learn, C Programming is also easy to learn.

In [32]:
d={}
s="Python is easy to learn C Programming is also easy to learn"
p=s.split(" ")
print(p)
for i in range(len(p)):
    if(p[i] not in d):
        d[p[i]]=1
print(d)

['Python', 'is', 'easy', 'to', 'learn', 'C', 'Programming', 'is', 'also', 'easy', 'to', 'learn']
{'Python': 1, 'is': 1, 'easy': 1, 'to': 1, 'learn': 1, 'C': 1, 'Programming': 1, 'also': 1}

Python dictionary to find mirror characters in a string. Given a string and a number N, we need to mirror the characters from N-th position up to the length of the string in the alphabetical order. In mirror operation, we change “a” to “z”, “b” to “y”, and so on.
Input: N=3, paradox
Output: parzwlc

In [49]:
a="paradox"
n=3
s=""
for i in range(len(a)):
    if(1):
        p=ord(a[i])-ord('a')
        print(p)
        x=chr((25-p)+ord('a'))

        s+=x
    else:
        s+=a[i]
print(s)

15
0
17
0
3
14
23
kzizwlc